.done-orders-container {
  padding: 20px;
}

.center {
  text-align: center;
}

.red-text {
  color: red;
}

.orders-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.order-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: transform 0.2s;
  text-align: center;
}

.order-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-name {
  margin-top: 10px;
  font-size: 1.5em;
  color: #333;
}

.order-detail {
  margin: 10px 0;
  font-size: 1em;
  color: #666;
}